.headerContainer {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#menu-first-row {
  position: absolute;
  width: 90%;
  z-index: 111111;
  font-size: medium;
}
.phone-number {
  background-color: #ffa73d;
  padding: 10px;
  text-align: right;
  height: 100px;
}

.phone-number-text {
  color: #333;
  font-weight: bold;
}
.header-with-shadow {
  margin-top: -50px;
  background-color: #ffffff;
  color: #000000;
  border-left: 7px solid #ff2921;
  -webkit-box-shadow: 7px 5px 5px 2px rgba(245, 240, 245, 1);
  -moz-box-shadow: 7px 5px 5px 2px rgba(245, 240, 245, 1);
  box-shadow: 7px 5px 5px 2px rgba(245, 240, 245, 1);
}
.menus {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.menu {
  display: flex;
  align-items: center;
}

.header {
  background: transparent;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo a {
  width: 150px;
  height: 150px;
  display: block;
  background: url("../../../assets/images/logos/logo.png") no-repeat 0 0;
  background-size: contain;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  margin-right: 8px; /* Adjust the margin as needed */
}
.separator {
  display: block;
  background-color: #e8e8e8;
  width: 1px;
  height: auto;
}
.left-menu-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.left-menu-item li {
  flex-grow: 1;
}

.menuitems {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.menu.right-menu {
  margin-left: auto;
  background-color: #ff2921;
}
.donation {
  padding: 10px 10px;
}
a {
  text-decoration: none;
  /* color: rgb(255, 255, 255); */
}

a:hover,
a:active {
  font-weight: bold;
  cursor: pointer;
}
