<div class="headerContainer">
  <!-- <div class="phone-number flex justify-end py-2 pr-4">
    <button routerLinkActive="active" [routerLink]="['login']" class="text-white font-bold shadow-md px-2" >
      <span class="text-gray-800 font-bold"><mat-icon>person</mat-icon> Login</span>
    </button>
  </div> -->
  <div id="menu-first-row" class="header-with-shadow rounded shadow-md ">
    <div class="menus  rounded-lg">
      <div class="menus left-menu">
        <!-- logo -->
        <div class="header">
          <div class="flex items-center logo">
            <a class="logo-image" alt="Logo" href="/home"></a>
            <!-- <h1 class="ml-2 text-1xl font-bold   font-ubuntu leading-tight ">
              Constanatine<br>Foundation
            </h1> -->
          </div>
        </div>
        <div class="separator px-0.1 my-10 mx-5"></div>
        <!-- logo end -->
        <!-- left Menu -->
        <div class="pl-8 flex-grow flex justify-between left-menu-items">
          <ul class="flex items-center list-none space-x-4 w-full  text-1xl ">
            <li class="flex-grow">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['home']">Home</a>
              </button>
            </li>
            <li class="flex-grow">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['shops']">Shop</a>
              </button>
            </li>
            <li class="flex-grow">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['blogs']">Blogs</a>
              </button>
            </li>
            <li class="flex-grow">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['projects']">Projects</a>
              </button>
            </li>
            <li class="flex-grow">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['events']">Events</a>
              </button>
            </li>
            <li class="flex-grow">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['about-us']">About</a>
              </button>
            </li>
            <li class="flex-grow">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['contact-us']">Contact</a>
              </button>
            </li>
          </ul>
        </div>
        <!-- left menu end -->
      </div>
      <div class="menu right-menu flex justify-end rounded  ">
        <ul class="menu menuitems">
          <li class="donation w-full">
            <a routerLinkActive="active" [routerLink]="['donate']" class="btn text-white font-bold">
              <button class="button w-full">Donate Now </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
