.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 50px;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}
.card1 {
  background-image: url("../../assets/images/cards/cardsBackground.png");
  margin-top: -50px;
  z-index: 10 !important;
  /* #fdd65b; */
}
.card2 {
  background-image: url("../../assets/images/cards/cardsBackground.png");
  margin-top: -50px;
  z-index: 10 !important;
  /* #ff3636; */
}
.card3 {
  background-image: url("../../assets/images/cards/cardsBackground.png");
  margin-top: -50px;
  z-index: 10 !important;
  /* #26268e; */
}
.card3:hover,
.card2:hover,
.card1:hover {
  /* background-color: unset; */
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #000000;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.content .top-card-img {
  height: 150px;
  width: fit-content;
  border-radius: 50%;
}

.content .heading {
  font-family: "Bizantheum", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.content .para {
  line-height: 1.5;
}

/* .content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
} */

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 0px; */
  /* background: linear-gradient(-45deg, var(--primary) 0%, var(--primary) 45% , #EEEEEE 100% ); */
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover::before {
  /* height: 100%; */
}

.card:hover {
  box-shadow: none;
}

.card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}
