.page{
  background-color: #9AB8D1;
}
.top-container {
  background-image: url("./../../assets/images/bg/sample.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.353);
}
.header-container {
  width: 60%;
  height: 100% !important;
  margin: auto 10px;
  padding: 50px 100px;
}
.title {
  font-family: "Ubuntu", sans-serif;
  font-size: 4.5em;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
.sub-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-size: 2.5em;
  line-height: 1.5;
  color: white;
}
.divider{
  padding: 100px;

}
.logo-image{
  height: 100px;
  width: 100px;
}
.card {
  box-sizing: border-box;
  width: 250px;
  height: 200px;
  background: inherit;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
.next-conatiner{
  background-color: #9AB8D1;
}
