<div class="page">
  <div class="all-contain ">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slide slide-1">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white ">Educational Needs</h2>
              <h4 class="text-lg text-white mt-4">The woman approaches the camera till we see a close up of her face
              </h4>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-2">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white">Home is Life</h2>
              <h4 class="text-lg text-white mt-4">We build strength, stability, and self
                reliance through shelter. </h4>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-3">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white">Help for orphans</h2>
              <h4 class="text-lg text-white mt-4">One Of The Biggest Risk Factors Involved In Family Separation.</h4>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-4">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white">sponsor an orphan</h2>
              <h4 class="text-lg text-white mt-4">One Of The Biggest Risk Factors Involved In Family Separation.</h4>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <!-- <section class="top-container">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="slide">
            <img src='../../assets/images/Bg/slider/abellA-01.png' alt="img 1" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src='../../assets/images/Bg/slider/abelaa-02.png' alt="img 1" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">

            <img src='../../assets/images/Bg/slider/abel 3.png' alt="img 1" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src='../../assets/images/Bg/slider/abelaa-03.png' alt="img 1" />
          </div>
        </ng-template>
      </owl-carousel-o>
    </section> -->
    <section style="position: relative;">
      <section class="py-8 cards-container">
        <div class="flex justify-center px-4 pb-16">
          <div class="flex justify-center space-x-4 w-full">
            <div class="w-full md:w-1/2 lg:w-1/3 rounded items-center">
              <div class="rounded-lg overflow-hidden flex flex-col items-center p-4 shadow-md card card1 text-center">
                <div class="content">
                  <div class="w-full h-full rounded flex text-center">
                    <img src="../../assets/images/cards/BECOME A MEMBER SECOND HEADING.jpg" alt="" class="rounded  top-card-img">
                  </div>
                  <p class="heading">Becom a Memeber</p>
                  <p class="para">Lorem ipsum dolor sit, amet consectetur a .. </p>
                  <button class="button">REGISTER </button>
                </div>
              </div>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center p-4 shadow-md card card2">
                <div class="content">
                  <div class="w-full h-full rounded flex text-center">
                    <img src="../../assets/images/cards/PROJECTS SECOND HEADING.jpg" alt="" class="rounded top-card-img">
                  </div>
                  <p class="heading">Projects</p>
                  <p class="para">Lorem ipsum dolor sit, amet consectetur  dmckmd vnjdv jdnv kd </p>
                  <button class="button">READ MORE</button>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center p-4 shadow-md card card3">
                <div class="content">
                  <div class="w-full h-full rounded flex text-center">
                    <img src="../../assets/images/cards/DONATION SECOND HEADING.jpg" alt="" class="rounded top-card-img">
                  </div>
                  <p class="heading">Donation</p>
                  <p class="para">sle medhnaialem Degef adrgugn wendmachu adelew ....</p>
                  <button class="button"> DONATE NOW</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="blogs ">
        <div class="container wave py-8">
          <div class="heading text-center">
            <h1 class="title">Latest Blogs . . .</h1>
            <h2 class="sub-title">We Help Poor Children to Get a Better Life.</h2>
          </div>
          <div class="flex flex-wrap py-16 ">
            <div class="w-full lg:w-1/2 px-4">
              <div class="flex space-x-4">
                <div class="w-8/12 help-man hoverimg  relative p-8">
                  <a routerLinkActive="active" [routerLink]="['contactus']" class="">
                    <div class="">
                      <div class="aspect-w-16 aspect-h-9">
                        <img alt="man" class="object-cover w-full h-full  rounded"
                          src="../../assets/images/blogs/blog 1.png">
                      </div>
                      <!-- <h5 class="absolute bottom-4 left-4 text-white bg-gray-900">We help more than 23k children every
                      year</h5> -->
                    </div>
                    <div class="overlay"></div>
                  </a>
                </div>
                <div class="w-4/12 blog-card">
                  <div class="help-man hoverimg mt-4 relative p-4">
                    <a routerLinkActive="active" [routerLink]="['contactus']">
                      <div class="aspect-w-16 aspect-h-9">
                        <img alt="man" class="object-cover w-full h-full rounded"
                          src="../../assets/images/blogs/blog page 2.png">
                      </div>
                      <div class="overlay"></div>
                    </a>
                  </div>
                  <div class="help-man hoverimg mt-4 relative ">
                    <a routerLinkActive="active" [routerLink]="['contactus']">
                      <div class="aspect-w-16 aspect-h-9">
                        <img alt="man" class="object-cover w-full h-full rounded"
                          src="../../assets/images/blogs/blog page 3.png">
                      </div>
                      <div class="overlay"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/2 px-4 flex justify-center  ">
              <div class="help-man-data text-left p-8">
                <p class="text-xl">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula.
                  Nam augue lorem, consectetur adipiscing elit. Lorem ipsum, dolor sit amet consectetur adipisicing
                  elit.
                  Vitae officia pariatur a iusto aut optio, aliquam quis
                  sit explicabo tenetur est deserunt corrupti veritatis dolore quisquam adipisci modi alias quod.
                </p>

                <button class="button mt-4 text-lg"> READ MORE </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-16 px-16 reports">
        <div class="container">
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
            <div class="nonprofit flex flex-col items-center justify-center py-4 px-16">
              <img alt="shaps" src="../../assets/icons/finished.png"
                class="rounded-full reports-bg hover:opacity-75 py-2">
              <p class="font-bold font-ubuntu text-center py-4">Nonprofit partners create access to opportunities for
              </p>
              <div class="flex justify-center items-center py-4">
                <h2 class="text-center text-6xl font-bold">
                  100 <span class="text-3xl">+</span>
                </h2>
              </div>
              <h6 class="text-2xl font-bold">Finished Projects</h6>
            </div>
            <div class="nonprofit flex flex-col items-center justify-center py-4 px-16">
              <img alt="shaps" src="../../assets/icons/money and book.png"
                class="rounded-full reports-bg hover:opacity-75 py-2">
              <p class="font-bold font-ubuntu text-center py-4">Nonprofit partners create access to opportunities for
              </p>
              <div class="flex justify-center items-center py-4">
                <h2 class="text-center  text-6xl font-bold">
                  102 <span class="text-3xl">+</span>
                </h2>
              </div>
              <h6 class="text-2xl font-bold">MONEY AND BOOK</h6>
            </div>
            <div class="nonprofit flex flex-col items-center justify-center py-4 px-16">
              <img alt="shaps" src="../../assets/icons/under construction.png"
                class="rounded-full reports-bg hover:opacity-75 py-2">
              <p class="font-bold font-ubuntu text-center py-4">Nonprofit partners create access to opportunities for
              </p>
              <div class="flex justify-center items-center py-4">
                <h2 class="text-center text-6xl font-bold">
                  103 <span class="text-3xl">+</span>
                </h2>
              </div>
              <h6 class="text-2xl font-bold">Under Construction</h6>
            </div>
          </div>
        </div>
      </section>

      <section class="py-16 px-16 campaign">
        <app-campaign-container></app-campaign-container>
      </section>
      <section class="py-16 px-16 donation-section" style="height: 850px; width:100%">
        <div class="heading text-center">
          <h1 class="title">Donation Section.</h1>
          <h2 class="sub-title">We Help Poor Children to Get a Better Life.</h2>
        </div>
        <!-- <div class="container" >
        <div class="flex justify-end">
          <div class="w-1/2 bg-opacity-75 bg-blue-500">
            <div class="homeless p-4">
              <div class="flex flex-col h-full justify-end">
                <h2 class="text-white">35,123 Kids Homeless <span>Reached So Far!</span></h2>
                <h6 class="text-white">Duis sed odio sit amet nibh vulputate cursus a amet accumsan ipsuy veli Nam nec tellus a odio tincidunt it con nec tellus a odio sequat auctor.</h6>
                <div class="flex">
                  <div>
                    <h5 class="text-white">Raised<span>$8,100</span></h5>
                    <div class="separator"></div>
                    <h5 class="text-white">Goal<span>$26,500</span></h5>
                  </div>
                  <div class="progressbar">
                    <div class="circle three" data-percent="75"><canvas width="250" height="250" style="height: 200px; width: 200px;"></canvas>
                      <div>75%</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-1/2 bg-opacity-75 bg-green-500">
            <div class="please-donate-today p-4">
              <div class="flex flex-col h-full justify-end">
                <h2 class="text-white">Please Donate Today!</h2>
                <p class="text-white">How often you want to donate?</p>
                <form class="donate-form">
                  <ul class="flex">
                    <li>
                      <input type="radio" id="Weekly" name="fav_language" value="Weekly">
                      <label for="Weekly" class="text-white">Weekly</label>
                    </li>
                    <li>
                      <input type="radio" id="Monthly" name="fav_language" value="Monthly">
                      <label for="Monthly" class="text-white">Monthly</label>
                    </li>
                    <li>
                      <input type="radio" id="Yearly" name="fav_language" value="Yearly">
                      <label for="Yearly" class="text-white">Yearly</label>
                    </li>
                  </ul>
                  <h6 class="text-white">How much to donate?</h6>
                  <span class="give-currency-symbol text-white">$</span>
                  <input class="donated_amount give-text-input" name="give-amount" type="text">
                  <ul class="give-donation-levels-wrap">
                    <li>
                      <a class="donating give-donation-level-btn" href="JavaScript:void(0)">$<span class="donation_amount">10</span></a>
                    </li>
                    <li>
                      <a class="donating give-donation-level-btn" href="JavaScript:void(0)">$<span class="donation_amount">20</span></a>
                    </li>
                    <li>
                      <a class="donating give-donation-level-btn" href="JavaScript:void(0)">$<span class="donation_amount">50</span></a>
                    </li>
                    <li>
                      <a class="donating give-donation-level-btn" href="JavaScript:void(0)">$<span class="donation_amount">100</span></a>
                    </li>
                    <li>
                      <a class="donating give-donation-level-btn" href="JavaScript:void(0)">$<span class="donation_amount">200</span></a>
                    </li>
                    <li>
                      <button type="button" class="give-donation-level-btn give-btn give-btn-level-custom" value="custom">Custom Amount</button>
                    </li>
                  </ul>
                  <input type="submit" class="give-submit" name="give-purchase" value="Donate Now">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      </section>
      <section class="py-16 px-32 evets">
        <div class="container py-8">
          <div class="heading text-center">
            <h1 class="title">working on charity</h1>
            <h2 class="sub-title">Upcoming Events</h2>
          </div>
        </div>
        <div class="container">
          <div class="flex justify-center space-x-4 w-full gap gap-16">
            <!--  -->

            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center  shadow-md  ">
                <div class="content w-full  items-center text-center ">
                  <div class="w-full h-full rounded flex text-center " class="">
                    <div class="flex flex-col items-center justify-center h-full relative">
                      <div class="relative">
                        <div class="image-container rounded-lg">
                          <img alt="upcoming-events" src="../../assets/images/events/events 1.png"
                            class="w-full h-full rounded-md">
                          <div
                            class="image-overlay absolute top-0 left-0 w-full h-full event-bg-overlay opacity-0 transition-opacity duration-300">
                          </div>
                        </div>

                        <div class=" bg-gray-900 text-left  py-4 -mt-10 mx-10 rounded-md event-time-container">
                          <div class="upcoming-event-time flex justify-between  rounded">
                            <h4 class="flex-1 pr-2">27<span>Jul<br>2023</span></h4>
                            <div class="upcoming-event-separator px-1"></div>
                            <h4 class="flex-1 pl-2">30<span>sep<br>2023</span></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="upcoming-event-data bg-white text-left px-8 py-4">
                    <a href="event-details.html">
                      <h3 class="text-xl font-bold text-gray-700">Trustee Leadership Programe Spring 2023</h3>
                    </a>
                    <h6 class="py-4"> <mat-icon style="color: #ff3636;">av_timer</mat-icon> 1:00 pm - 1:00 pm </h6>
                    <h6 class="py-2"><mat-icon style="color: #ff3636;"> location_on</mat-icon>Manchester, Kentucky
                      39495, USA</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center  shadow-md  ">
                <div class="content w-full  items-center text-center ">
                  <div class="w-full h-full rounded flex text-center " class="">
                    <div class="flex flex-col items-center justify-center h-full relative">
                      <div class="relative">
                        <div class="image-container rounded-lg">
                          <img alt="upcoming-events" src="../../assets/images/events/events 2.png"
                            class="w-full h-full rounded-md">
                          <div
                            class="image-overlay absolute top-0 left-0 w-full h-full event-bg-overlay opacity-0 transition-opacity duration-300">
                          </div>
                        </div>

                        <div class=" bg-gray-900 text-left  py-4 -mt-10 mx-10 rounded-md event-time-container">
                          <div class="upcoming-event-time flex justify-between  rounded">
                            <h4 class="flex-1 pr-2">27<span>Jul<br>2023</span></h4>
                            <div class="upcoming-event-separator px-1"></div>
                            <h4 class="flex-1 pl-2">30<span>sep<br>2023</span></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="upcoming-event-data bg-white text-left px-8 py-4">
                    <a href="event-details.html">
                      <h3 class="text-xl font-bold text-gray-700">Trustee Leadership Programe Spring 2023</h3>
                    </a>
                    <h6 class="py-4"> <mat-icon style="color: #ff3636;">av_timer</mat-icon> 1:00 pm - 1:00 pm </h6>
                    <h6 class="py-2"><mat-icon style="color: #ff3636;"> location_on</mat-icon>Manchester, Kentucky
                      39495, USA</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center  shadow-md  ">
                <div class="content w-full  items-center text-center ">
                  <div class="w-full h-full rounded flex text-center " class="">
                    <div class="flex flex-col items-center justify-center h-full relative">
                      <div class="relative">
                        <div class="image-container rounded-lg">
                          <img alt="upcoming-events" src="../../assets/images/events/events 3.png"
                            class="w-full h-full rounded-md">
                          <div
                            class="image-overlay absolute top-0 left-0 w-full h-full event-bg-overlay opacity-0 transition-opacity duration-300">
                          </div>
                        </div>

                        <div class=" bg-gray-900 text-left  py-4 -mt-10 mx-10 rounded-md event-time-container">
                          <div class="upcoming-event-time flex justify-between  rounded">
                            <h4 class="flex-1 pr-2">27<span>Jul<br>2023</span></h4>
                            <div class="upcoming-event-separator px-1"></div>
                            <h4 class="flex-1 pl-2">30<span>sep<br>2023</span></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="upcoming-event-data bg-white text-left px-8 py-4">
                    <a href="event-details.html">
                      <h3 class="text-xl font-bold text-gray-700">Trustee Leadership Programe Spring 2023</h3>
                    </a>
                    <h6 class="py-4"> <mat-icon style="color: #ff3636;">av_timer</mat-icon> 1:00 pm - 1:00 pm </h6>
                    <h6 class="py-2"><mat-icon style="color: #ff3636;"> location_on</mat-icon>Manchester, Kentucky
                      39495, USA</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-16 px-32 shop">
        <div class="container py-8">
          <div class="heading text-center">
            <h1 class="title">Charity Gifts</h1>
            <h2 class="sub-title">Shop from Us </h2>
          </div>
          <app-shop-container class="py-8">

          </app-shop-container>
        </div>

      </section>
      <section class="py-16 px-16">

        <app-partner-container></app-partner-container>
      </section>
    </section>
  </div>
</div>
