<div class="page">
  <div class="all-contain ">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slide slide-1">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white ">Educational Needs</h2>
              <h4 class="text-lg text-white">The woman approaches the camera till we see a close up of her face
              </h4>
              <div class="text-center centered center">
                <img src="../../assets/images/logos/tagline.png" alt="" style="height: 300px; width: 300px;">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-2">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white">Home is Life</h2>
              <h4 class="text-lg text-white mt-4">We build strength, stability, and self
                reliance through shelter. </h4>
              <div class="text-center centered center">
                <img src="../../assets/images/logos/tagline.png" alt="" style="height: 300px; width: 300px;">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-3">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white">Help for orphans</h2>
              <h4 class="text-lg text-white mt-4">One Of The Biggest Risk Factors Involved In Family Separation.</h4>
              <div class="text-center centered center">
                <img src="../../assets/images/logos/tagline.png" alt="" style="height: 300px; width: 300px;">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide slide-4">
          <div class="container mx-auto px-16 h-full flex items-center">
            <div class=" hero-content">
              <h2 class="text-3xl font-bold text-white">sponsor an orphan</h2>
              <h4 class="text-lg text-white mt-4">One Of The Biggest Risk Factors Involved In Family Separation.</h4>
              <div class="text-center centered center">
                <img src="../../assets/images/logos/tagline.png" alt="" srcset="" style="height: 300px; width: 300px;">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <!-- <section class="top-container">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="slide">
            <img src='../../assets/images/Bg/slider/abellA-01.png' alt="img 1" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src='../../assets/images/Bg/slider/abelaa-02.png' alt="img 1" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">

            <img src='../../assets/images/Bg/slider/abel 3.png' alt="img 1" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src='../../assets/images/Bg/slider/abelaa-03.png' alt="img 1" />
          </div>
        </ng-template>
      </owl-carousel-o>
    </section> -->
    <section style="position: relative;">
      <section class="py-8 cards-container">
        <div class="flex justify-center px-4 pb-16">
          <div class="flex justify-center space-x-4 w-full">
            <div class="w-full md:w-1/2 lg:w-1/3 rounded items-center">
              <div class="rounded-lg overflow-hidden flex flex-col items-center p-4 shadow-md card card1 text-center">
                <div class="content">
                  <div class="w-full h-full rounded flex text-center">
                    <img src="../../assets/images/cards/volunteer.png" alt="" class="rounded  top-card-img bg-white">
                  </div>
                  <p class="heading">Become a Member</p>
                  <p class="para">join us and Together, let's create a better and
                    brighter future for Africa's prosperity and well-being. </p>
                  <button class="button">REGISTER </button>
                </div>
              </div>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 rounded  ">
              <div class="rounded-lg overflow-hidden flex flex-col items-center p-4 shadow-md card card2 text-center">
                <div class="content">
                  <div class="w-full h-full rounded flex text-center">
                    <img src="../../assets/images/cards/projects.png" alt="" class="rounded top-card-img bg-black ">
                  </div>
                  <p class="heading">Projects</p>
                  <p class="para"> Healthcare, Educations, building cancer hospitals, manufacturing
                    and renovation of communities. </p>
                  <button class="button">READ MORE</button>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center p-4 shadow-md card card3 text-center">
                <div class="content">
                  <div class="w-full h-full rounded flex text-center">
                    <img src="../../assets/images/cards/donation.png" alt="" class="rounded top-card-img bg-white">
                  </div>
                  <p class="heading">Donation</p>
                  <p class="para"> With the support of community leaders, corporate sponsors, and churches, this
                    initiative thrives.</p>
                  <button class="button"> DONATE NOW</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="blogs ">
        <div class="container wave py-8">
          <div class="heading text-center">
            <h1 class="title">Latest Blogs . . .</h1>
            <h2 class="sub-title">We Help Poor Children to Get a Better Life.</h2>
          </div>
          <div class="flex flex-wrap py-16 ">
            <div class="w-full lg:w-1/2 px-4">
              <div class="flex space-x-4">
                <div class="w-8/12 help-man hoverimg  relative p-8">
                  <a routerLinkActive="active" [routerLink]="['contactus']" class="">
                    <div class="">
                      <div class="aspect-w-16 aspect-h-9">
                        <img alt="man" class="object-cover w-full h-full  rounded"
                          src="../../assets/images/blogs/blog 1.png">
                      </div>
                      <!-- <h5 class="absolute bottom-4 left-4 text-white bg-gray-900">We help more than 23k children every
                      year</h5> -->
                    </div>
                    <div class="overlay"></div>
                  </a>
                </div>
                <div class="w-4/12 blog-card">
                  <div class="help-man hoverimg mt-4 relative p-4">
                    <a routerLinkActive="active" [routerLink]="['contactus']">
                      <div class="aspect-w-16 aspect-h-9">
                        <img alt="man" class="object-cover w-full h-full rounded"
                          src="../../assets/images/blogs/blog page 2.png">
                      </div>
                      <div class="overlay"></div>
                    </a>
                  </div>
                  <div class="help-man hoverimg mt-4 relative ">
                    <a routerLinkActive="active" [routerLink]="['contactus']">
                      <div class="aspect-w-16 aspect-h-9">
                        <img alt="man" class="object-cover w-full h-full rounded"
                          src="../../assets/images/blogs/blog page 3.png">
                      </div>
                      <div class="overlay"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/2 px-4 flex justify-center  ">
              <div class="help-man-data text-left p-8">
                <p class="text-2xl">“It has to be worthy”</p>
                <p class="text-2xl">Konstantinos Papadakis on his carving work</p>
                <p class="text-xl">
                  He says many people often wonder why peacocks are often featured in altar pieces. “It’s the symbol of
                  pride. The bad pride. Selfishness,” he says. “We carve them because the house of God – church – is
                  open to everyone. Everybody is welcome as is. You come to this house as you are.”
                  Orthodox churches hire craftsmen like Papadakis to create altarpiece carvings that enhance places of
                  worship where priests baptize babies, bond marriages and give communion blessings. Orthodox churches
                  also hire architects, iconographers who use wood, stone, marble or iron. Seamsters make clerical robes
                  while other artists make chalices and patten, sometimes plated with precious metals and encrusted with
                  jewels, for worship.
                </p>

                <button class="button mt-4 text-lg"> READ MORE </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-32 px-16 campaign">

        <div class="py-32  heading text-center">
          <h1 class="title">Campaigns</h1>
          <h2 class="sub-title">Important Campaigns and Projects dates.</h2>
        </div>
        <app-campaign-container></app-campaign-container>
      </section>
      <section class="py-32 px-16 reports">
        <div class="container">
          <div class="heading text-center">
            <h1 class="title"> Projects </h1>
            <h2 class="sub-title">Join us and Become part of something Great !!!.</h2>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
            <div class="nonprofit flex flex-col items-center justify-center py-4 px-16">
              <img alt="shaps" src="../../assets/icons/finished.png"
                class="rounded-full reports-bg hover:opacity-75 py-2">
              <p class="font-bold font-ubuntu text-center py-4">Nonprofit partners create access to opportunities for
              </p>
              <div class="flex justify-center items-center py-4">
                <h2 class="text-center text-6xl font-bold title">
                  100 <sup class="text-3xl">+</sup>
                </h2>
              </div>
              <h6 class="text-2xl font-bold text-white">Finished Projects</h6>
            </div>
            <div class="nonprofit flex flex-col items-center justify-center py-4 px-16">
              <img alt="shaps" src="../../assets/icons/money and book.png"
                class="rounded-full reports-bg hover:opacity-75 py-2">
              <p class="font-bold font-ubuntu text-center py-4">Nonprofit partners create access to opportunities for
              </p>
              <div class="flex justify-center items-center py-4">
                <h2 class="text-center  text-6xl font-bold title">
                  102 <sup class="text-3xl">+</sup>
                </h2>
              </div>
              <h6 class="text-2xl font-bold text-white">MONEY AND BOOK</h6>
            </div>
            <div class="nonprofit flex flex-col items-center justify-center py-4 px-16">
              <img alt="shaps" src="../../assets/icons/under construction.png"
                class="rounded-full reports-bg hover:opacity-75 py-2">
              <p class="font-bold font-ubuntu text-center py-4">Nonprofit partners create access to opportunities for
              </p>
              <div class="flex justify-center items-center py-4">
                <h2 class="text-center text-6xl font-bold title">
                  103 <sup class="text-3xl">+</sup>
                </h2>
              </div>
              <h6 class="text-2xl font-bold text-white">Under Construction</h6>
            </div>
          </div>
        </div>
      </section>

      <section class="py-32 px-32 donation-section">
        <app-donation-container></app-donation-container>
      </section>
      <section class="py-16 px-32 events">
        <div class="container py-8">
          <div class="heading text-center">
            <h1 class="title">working on charity</h1>
            <h2 class="sub-title">Upcoming Events</h2>
          </div>
        </div>
        <div class="container">
          <div class="flex justify-center space-x-4 w-full gap gap-16">
            <!--  -->

            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center  shadow-md  ">
                <div class="content w-full  items-center text-center ">
                  <div class="w-full h-full rounded flex text-center " class="">
                    <div class="flex flex-col items-center justify-center h-full relative">
                      <div class="relative">
                        <div class="image-container rounded-lg">
                          <img alt="upcoming-events" src="../../assets/images/events/events 1.png"
                            class="w-full h-full rounded-md">
                          <div
                            class="image-overlay absolute top-0 left-0 w-full h-full event-bg-overlay opacity-0 transition-opacity duration-300">
                          </div>
                        </div>

                        <div class=" bg-gray-900 text-left  py-4 -mt-10 mx-10 rounded-md event-time-container">
                          <div class="upcoming-event-time flex justify-between  rounded">
                            <h4 class="flex-1 pr-2">27<span>Jul<br>2023</span></h4>
                            <div class="upcoming-event-separator px-1"></div>
                            <h4 class="flex-1 pl-2">30<span>sep<br>2023</span></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="upcoming-event-data bg-white text-left px-8 py-4">
                    <a href="event-details.html">
                      <h3 class="text-xl font-bold text-gray-700">Trustee Leadership Programe Spring 2023</h3>
                    </a>
                    <h6 class="py-4"> <mat-icon style="color: #ff3636;">av_timer</mat-icon> 1:00 pm - 1:00 pm </h6>
                    <h6 class="py-2"><mat-icon style="color: #ff3636;"> location_on</mat-icon>Manchester, Kentucky
                      39495, USA</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center  shadow-md  ">
                <div class="content w-full  items-center text-center ">
                  <div class="w-full h-full rounded flex text-center " class="">
                    <div class="flex flex-col items-center justify-center h-full relative">
                      <div class="relative">
                        <div class="image-container rounded-lg">
                          <img alt="upcoming-events" src="../../assets/images/events/events 2.png"
                            class="w-full h-full rounded-md">
                          <div
                            class="image-overlay absolute top-0 left-0 w-full h-full event-bg-overlay opacity-0 transition-opacity duration-300">
                          </div>
                        </div>

                        <div class=" bg-gray-900 text-left  py-4 -mt-10 mx-10 rounded-md event-time-container">
                          <div class="upcoming-event-time flex justify-between  rounded">
                            <h4 class="flex-1 pr-2">27<span>Jul<br>2023</span></h4>
                            <div class="upcoming-event-separator px-1"></div>
                            <h4 class="flex-1 pl-2">30<span>sep<br>2023</span></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="upcoming-event-data bg-white text-left px-8 py-4">
                    <a href="event-details.html">
                      <h3 class="text-xl font-bold text-gray-700">Trustee Leadership Programe Spring 2023</h3>
                    </a>
                    <h6 class="py-4"> <mat-icon style="color: #ff3636;">av_timer</mat-icon> 1:00 pm - 1:00 pm </h6>
                    <h6 class="py-2"><mat-icon style="color: #ff3636;"> location_on</mat-icon>Manchester, Kentucky
                      39495, USA</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 rounded">
              <div class="rounded-lg overflow-hidden flex flex-col items-center  shadow-md  ">
                <div class="content w-full  items-center text-center ">
                  <div class="w-full h-full rounded flex text-center " class="">
                    <div class="flex flex-col items-center justify-center h-full relative">
                      <div class="relative">
                        <div class="image-container rounded-lg">
                          <img alt="upcoming-events" src="../../assets/images/events/events 3.png"
                            class="w-full h-full rounded-md">
                          <div
                            class="image-overlay absolute top-0 left-0 w-full h-full event-bg-overlay opacity-0 transition-opacity duration-300">
                          </div>
                        </div>

                        <div class=" bg-gray-900 text-left  py-4 -mt-10 mx-10 rounded-md event-time-container">
                          <div class="upcoming-event-time flex justify-between  rounded">
                            <h4 class="flex-1 pr-2">27<span>Jul<br>2023</span></h4>
                            <div class="upcoming-event-separator px-1"></div>
                            <h4 class="flex-1 pl-2">30<span>sep<br>2023</span></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="upcoming-event-data bg-white text-left px-8 py-4">
                    <a href="event-details.html">
                      <h3 class="text-xl font-bold text-gray-700">Trustee Leadership Programe Spring 2023</h3>
                    </a>
                    <h6 class="py-4"> <mat-icon style="color: #ff3636;">av_timer</mat-icon> 1:00 pm - 1:00 pm </h6>
                    <h6 class="py-2"><mat-icon style="color: #ff3636;"> location_on</mat-icon>Manchester, Kentucky
                      39495, USA</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-16 px-32 shop">
        <div class="container py-8">
          <div class="heading text-center">
            <h1 class="title">Charity Gifts</h1>
            <h2 class="sub-title">Shop from Us </h2>
          </div>
          <app-shop-container class="py-8">

          </app-shop-container>
        </div>

      </section>
      <section class="py-16 px-16 partners">
        <div class="heading text-center">
          <h1 class="title" style="color: var(--secondary);"> Constantine Partners </h1>
          <h2 class="sub-title" style="color: var(--secondary);">Working Together !!!.</h2>
        </div>

        <app-partner-container></app-partner-container>
      </section>
    </section>
  </div>
</div>
