<div class="page">
  <div class="all-contain ">
    <section class="top-container">
      <div class="header-container">
        <div class="title-container">
          <h2 class="sub-title">The</h2>
          <h1 class="title"> Constanatine
          </h1>
          <h2 class="sub-title">Foundation</h2>
        </div>
        <div class="home-top">
          <!-- <div class="divider"></div> -->

        </div>
      </div>
      <div class="flex justify-between py-4 px-4">
        <div class="flex  justify-between space-x-4 w-full">
          <div class=" rounded-lg overflow-hidden shadow-md">
            <div class="p-4">
              <a alt="Logo" href="/home">
                <div class="card">
                  MANUFACTURING FACILITIES
                </div>
              </a>
            </div>
          </div>

          <div class=" rounded-lg overflow-hidden shadow-md">
            <div class="p-4">
              <a alt="Logo" href="/home">
                <div class="card">
                  ENTREPRENEURSHIP TRAINING
                </div>
              </a>
            </div>
          </div>

          <div class=" rounded-lg overflow-hidden shadow-md">
            <div class="p-4">
              <a alt="Logo" href="/home">
                <div class="card">
                  MICROFINANCE PROGRAMS
                </div>
              </a>
            </div>
          </div>

          <div class=" rounded-lg overflow-hidden shadow-md">
            <div class="p-4">
              <a alt="Logo" href="/home">
                <div class="card">
                  SUPPORT FARMERS AND ARTISIANS
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="next-conatiner">

      <section>
        <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 lg:w-2/3 xl:w-3/4 px-4 lg:px-8 py-8 md:py-16">
            <div class="flex flex-col h-full justify-center items-center md:items-start px-4 md:px-8 py-8 md:py-16">
              <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-2">Big Text</h1>
              <p class="text-sm md:text-lg lg:text-xl text-gray-600 mb-4">Small Text</p>
              <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Button</button>
            </div>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 lg:px-8 py-8 md:py-16">
            <img class="w-full h-auto" src="../../assets/images/Bg/sample.jpg" alt="Image">
          </div>
        </div>
      </section>
      <section>
        <div class="flex justify-center">
          <div class="w-full md:w-1/2 xl:w-1/2 px-4 lg:px-8 py-8">
            <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4">
              Donate for the Different Sectors and make a difference by even paining the cause via Membership buttons.
            </h2>

            <div class="flex flex-col">
              <button type="button"
                class="py-2 px-4 bg-gray-200 text-gray-700 font-semibold border border-gray-400 rounded mb-2">
                Agriculture
              </button>
              <button type="button"
                class="py-2 px-4 bg-gray-200 text-gray-700 font-semibold border border-gray-400 rounded mb-2">
                Entrepreneurship
              </button>
              <button type="button"
                class="py-2 px-4 bg-gray-200 text-gray-700 font-semibold border border-gray-400 rounded mb-2">
                Manufacturing
              </button>
              <button type="button"
                class="py-2 px-4 bg-gray-200 text-gray-700 font-semibold border border-gray-400 rounded">
                Micro Finance Programs
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="w-full">
        <div class="flex justify-start">
          <div class="w-full   lg:px-8 py-8">
            <!-- <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4">Donate for the Different Sectors</h2> -->
            <div class="flex justify-between items-center">
              <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-2">Projects</h1>
              <div class="relative">
                <select
                  class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                  <option>All Projects</option>
                  <option>Agriculture</option>
                  <option>...</option>
                </select>
              </div>
            </div>
            <div class="flex flex-wrap mt-8 -mx-4">
              <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/4 px-4 mb-8">

                <div class="card-1 flex flex-col items-center justify-center">
                  <div class="card__img overflow-hidden">
                    <img class="w-32 h-auto rounded items-center m-auto" src="../../assets/images/logos/logo.png"
                      alt="Logo">
                  </div>
                  <div class="card__subtitle ">Type of work</div>
                  <div class="card__wrapper">
                    <div class="card__title  text-light text-center">Project name</div>
                    <div class="card__icon"><svg color="rgb(224, 223, 220)"
                        style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: rgb(224, 223, 220); flex-shrink: 0; cursor: auto;"
                        viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                        <g color="rgb(224, 223, 220)">
                          <circle opacity="0.2" r="96" cy="128" cx="128"></circle>
                          <circle stroke-width="16" stroke-miterlimit="10" stroke="rgb(224, 223, 220)" fill="none"
                            r="96" cy="128" cx="128"></circle>
                          <polyline stroke-width="16" stroke-linejoin="round" stroke-linecap="round"
                            stroke="rgb(224, 223, 220)" fill="none" points="134.1 161.9 168 128 134.1 94.1"></polyline>
                          <line stroke-width="16" stroke-linejoin="round" stroke-linecap="round"
                            stroke="rgb(224, 223, 220)" fill="none" y2="128" x2="168" y1="128" x1="88"></line>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div style="background-image: url('../../assets/images/Bg/sample.jpg'); background-size: cover; background-position: center; filter: blur(1px); ">
                <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/4 px-4 mb-8">
                  <div class="card-1 flex flex-col items-center justify-center" style="background-image: url('../../assets/images/Bg/sample.jpg'); background-size: cover; background-position: center; z-index: 1; filter: blur(0px);">
                    <div class="card__img overflow-hidden">
                      <img class="w-32 h-auto rounded items-center m-auto" src="../../assets/images/logos/logo.png" alt="Logo">
                    </div>
                    <div class="card__subtitle" style="padding-top: 20px; padding-bottom: 20px;">Type of work</div>
                    <div class="card__wrapper">
                      <div class="card__title text-light text-center">Project name</div>
                      <div class="card__icon">
                        <svg color="rgb(224, 223, 220)" style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: rgb(224, 223, 220); flex-shrink: 0; cursor: auto;" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                          <g color="rgb(224, 223, 220)">
                            <circle opacity="0.2" r="96" cy="128" cx="128"></circle>
                            <circle stroke-width="16" stroke-miterlimit="10" stroke="rgb(224, 223, 220)" fill="none" r="96" cy="128" cx="128"></circle>
                            <polyline stroke-width="16" stroke-linejoin="round" stroke-linecap="round" stroke="rgb(224, 223, 220)" fill="none" points="134.1 161.9 168 128 134.1 94.1"></polyline>
                            <line stroke-width="16" stroke-linejoin="round" stroke-linecap="round" stroke="rgb(224, 223, 220)" fill="none" y2="128" x2="168" y1="128" x1="88"></line>
                          </g>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/4 px-4 mb-8">

                <div class="card-1 flex flex-col items-center justify-center">
                  <div class="card__img overflow-hidden">
                    <img class="w-32 h-auto rounded items-center m-auto" src="../../assets/images/logos/logo.png"
                      alt="Logo">
                  </div>
                  <div class="card__subtitle ">Type of work</div>
                  <div class="card__wrapper">
                    <div class="card__title  text-light text-center">Project name</div>
                    <div class="card__icon"><svg color="rgb(224, 223, 220)"
                        style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: rgb(224, 223, 220); flex-shrink: 0; cursor: auto;"
                        viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                        <g color="rgb(224, 223, 220)">
                          <circle opacity="0.2" r="96" cy="128" cx="128"></circle>
                          <circle stroke-width="16" stroke-miterlimit="10" stroke="rgb(224, 223, 220)" fill="none"
                            r="96" cy="128" cx="128"></circle>
                          <polyline stroke-width="16" stroke-linejoin="round" stroke-linecap="round"
                            stroke="rgb(224, 223, 220)" fill="none" points="134.1 161.9 168 128 134.1 94.1"></polyline>
                          <line stroke-width="16" stroke-linejoin="round" stroke-linecap="round"
                            stroke="rgb(224, 223, 220)" fill="none" y2="128" x2="168" y1="128" x1="88"></line>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/4 px-4 mb-8">

                <div class="card-1 flex flex-col items-center justify-center">
                  <div class="card__img overflow-hidden">
                    <img class="w-32 h-auto rounded items-center m-auto" src="../../assets/images/logos/logo.png"
                      alt="Logo">
                  </div>
                  <div class="card__subtitle ">Type of work</div>
                  <div class="card__wrapper">
                    <div class="card__title  text-light text-center">Project name</div>
                    <div class="card__icon"><svg color="rgb(224, 223, 220)"
                        style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: rgb(224, 223, 220); flex-shrink: 0; cursor: auto;"
                        viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                        <g color="rgb(224, 223, 220)">
                          <circle opacity="0.2" r="96" cy="128" cx="128"></circle>
                          <circle stroke-width="16" stroke-miterlimit="10" stroke="rgb(224, 223, 220)" fill="none"
                            r="96" cy="128" cx="128"></circle>
                          <polyline stroke-width="16" stroke-linejoin="round" stroke-linecap="round"
                            stroke="rgb(224, 223, 220)" fill="none" points="134.1 161.9 168 128 134.1 94.1"></polyline>
                          <line stroke-width="16" stroke-linejoin="round" stroke-linecap="round"
                            stroke="rgb(224, 223, 220)" fill="none" y2="128" x2="168" y1="128" x1="88"></line>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
<div>
