<h2 mat-dialog-title>{{ isEditMode ? 'Edit Category' : 'Add Category' }}</h2>
<mat-dialog-content>
  <form [formGroup]="categoryForm" class="category-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Category Name" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Icon</mat-label>
      <input matInput formControlName="icon" placeholder="Category Icon" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveCategory()">
    {{ isEditMode ? 'Update' : 'Save' }} Category
  </button>
</mat-dialog-actions>
