<section class="pt-32 px-16">
  <div class="flex">
    <app-sidebar></app-sidebar>
    <section class="body-wrapper w-full align-center text-center px-16">
      <section class="cards-container w-full">
        <div class="blog-container">
          <div class="header-container text-right align-right p-4 m-8 rounded shadow-md ">
            <button class="detail btn-custom" routerLinkActive="nav-link active" [routerLink]="['../blog/create-blog']">
              Add Blogs
            </button>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Repeat the following code block for each blog -->
            <div *ngFor="let blog of blogListObject" class="blog-list-card">
              <div class="card shadow-lg rounded-lg">
                <div class="flex items-center mb-2">
                  <div class="ml-2">
                    <h4 class="w-12 font-bold text-xl">{{ blog.id }}</h4>
                  </div>
                  <div class="flex justify-center mb-4">
                    <img src="{{ blog.image_url }}" alt="Blog Image" class="w-48">
                  </div>
                </div>
                <div class="blog-detail">
                  <div class="content p-4">
                    <div class="text-left">
                      <p class="font-bold">Title: {{ blog.title }}</p>
                    </div>
                    <div class="mt-4">
                      <p class="truncate">{{ blog.content }}</p>
                    </div>
                    <div class="flex justify-between mt-4">
                      <div>
                        <p class="font-bold">Posted on:</p>
                        <p>{{ blog.created_at }}</p>
                      </div>
                      <div>
                        <p class="font-bold">Updated on:</p>
                        <p>{{ blog.updated_at }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="action flex justify-center p-4">
                  <button class="detail btn-custom" routerLinkActive="nav-link active" [routerLink]="['../blog/update/' + blog.id]">
                    View/Update
                  </button>
                </div>
              </div>
            </div>
            <!-- End of blog code block -->
          </div>
        </div>
      </section>
    </section>
  </div>
</section>
