<app-banner [backgroundImage]="'../../../../assets/images/Bg/forpages/eco.jpg'">
  <div class="container py-8">
    <div class="heading text-center  ">
      <h1 class="title">working on charity</h1>
      <h2 class="sub-title">Upcoming Events</h2>
    </div>
  </div>
</app-banner>
<section class="body-wrapper w-full align-center text-center px-16">

  <section class="cards-container w-full py-8 px-8">
    <div class="event-container">
      <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 gap-4">
        <!-- Repeat the following code block for each event -->
        <div *ngFor="let event of eventListObject; let i = index" class="event-list-card">
          <div class="card shadow-lg rounded-lg mx-8 my-8  relative">
            <div class="flex items-center mb-2">
              <div class="image-container rounded-lg">
                <img alt="upcoming-events" src="{{ event.image_url }}" class="w-full h-full rounded-md">
                <div
                  class="image-overlay absolute top-0 left-0 w-full h-full event-bg-overlay opacity-0 transition-opacity duration-300">
                </div>

              </div>
            </div>
            <div class=" bg-gray-900 text-left  py-4 -mt-10 mx-10 rounded-md event-time-container">
              <div class="upcoming-event-time flex justify-between  rounded">
                <h4 class="flex-1 pr-2">27<span>Jul<br>2023</span></h4>
                <div class="upcoming-event-separator px-1"></div>
                <h4 class="flex-1 pl-2">30<span>sep<br>2023</span></h4>
              </div>
            </div>
            <div class="event-detail">
              <div class="content p-4">
                <div class="upcoming-event-data bg-white text-left px-8 py-4">
                  <a href="event-details.html">
                    <h3 class="text-xl font-bold text-gray-700"> {{ event.name }}</h3>
                  </a>
                  <div class="mt-4">
                    <p class="truncate">{{ event.description | slice:0:500 }}</p>
                  </div>

                  <h6 class="py-4"> <mat-icon style="color: #ff3636;">av_timer</mat-icon> {{ event.start_date }} - {{
                    event.end_date}} </h6>
                  <h6 class="py-2"><mat-icon style="color: #ff3636;"> location_on</mat-icon>Manchester, Kentucky
                    39495, USA</h6>
                </div>
                <div class="flex justify-between mt-4">
                  <div>
                    <p class="font-bold">Posted on:</p>
                    <p>{{ event.created_at }}</p>
                  </div>
                  <div>
                    <p class="font-bold">Updated on:</p>
                    <p>{{ event.updated_at }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="action flex justify-center p-4">

              <button class="button bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded"
                routerLinkActive="nav-link active" [routerLink]="['../event/view/' + event.id]">
                READ MORE
              </button>
            </div>
          </div>
        </div>
        <!-- End of event code block -->
      </div>
    </div>
  </section>
</section>
