<main>
  <app-banner [backgroundImage]="'../../../../assets/images/Bg/afooter.png'">
    <div class="container py-8">
      <div class="heading text-left  px-16">
        <h1 class="title">Our Shop</h1>
        <h2 class="sub-title">Organisations committed to ending poverty worldwide.</h2>
      </div>
    </div>
  </app-banner>
  <section class="body-wrapper w-full align-center text-center px-16">
    <section class="categories-container bg-garay-200 py-4">
      <div class="contasiner mx-auto">
          <mat-toolbar class="menu-toolbar justify-between">
            <mat-toolbar-row class="justify-around">
              <button
                mat-button
                class="menu-button"
                [ngClass]="{ 'active': selectedCategory === 'all' }"
                (click)="selectCategory('all')"
              >
                <span class="menu-label">All</span>
              </button>
              <button
                mat-button
                class="menu-button"
                [ngClass]="{ 'active': selectedCategory === 'candles' }"
                (click)="selectCategory('candles')"
              >
                <span class="menu-label">Candles</span>
              </button>
              <button
                mat-button
                class="menu-button"
                [ngClass]="{ 'active': selectedCategory === 'antiques' }"
                (click)="selectCategory('antiques')"
              >
                <span class="menu-label">Antiques</span>
              </button>
              <button
                mat-button
                class="menu-button"
                [ngClass]="{ 'active': selectedCategory === 'arts' }"
                (click)="selectCategory('arts')"
              >
                <span class="menu-label">Arts</span>
              </button>
            </mat-toolbar-row>
          </mat-toolbar>

          <!-- <button
            class="category-btn"
            [ngClass]="{ 'active': selectedCategory === 'arts' }"
            (click)="selectCategory('arts')"
          >
            Arts
          </button> -->
      </div>
    </section>
    <section>
      <div class="container py-8 px-4">
        <div class="flex justify-center space-x-4 w-full gap gap-2">
          <div class="flex flex-wrap justify-center">
            <div *ngFor="let product of products"
              class="project-list-card w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 py-4">
              <div class="w-full rounded p-4 ">
                <div class="rounded-lg overflow-hidden flex flex-col items-center p-4 shadow card">
                  <div class="content">
                    <div class="w-full h-full rounded flex text-center">
                      <img src="{{product.thumbnail}}" alt="" class="rounded card-img">
                    </div>
                  </div>

                  <div class="card-info p-4">
                    <p class="text-title text-lg font-semibold">{{product.title}}</p>
                    <p class="text-body mt-2">{{product.description}}</p>
                  </div>
                  <div class="card-footer p-4">
                    <span class="text-title font-semibold">{{product.price}}</span>
                    <div class="card-button mt-4">
                      <svg class="svg-icon" viewBox="0 0 20 20">
                        <path
                          d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z">
                        </path>
                        <path
                          d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z">
                        </path>
                        <path
                          d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z">
                        </path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
