.banner {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}


.content {
  width: 100%;
  padding-left: 100px;
  padding-right: 50px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.4);
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-size: 3em;
  line-height: 1.5;
  font-weight: 900;
  color: var(--primary);
}
.sub-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  line-height: 1.5;
  color: var(--primary);
}

