<!-- <div class="flex flex-col h-screen">
  <app-header></app-header>
  <div class="container-fluid flex-grow">
    <div class="flex">
      <div class="flex-grow overflow-x-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer class="mt-auto"></app-footer>
</div> -->
<!-- //active route -->
<div class="flex flex-col h-screen">
  <app-header></app-header>
  <div class="flex">
    <div *ngIf="isAdmin" class=" " style="width: 250px !important;">
      <app-sidebar></app-sidebar>
    </div>
    <div class="" style="width: 100% !important;">
      <ng-container *ngIf="isAdmin; else noSidebar">
        <router-outlet></router-outlet>
      </ng-container>
      <ng-template #noSidebar>
        <div>
          <router-outlet></router-outlet>
        </div>
      </ng-template>
    </div>
  </div>
  <app-footer class="mt-auto"></app-footer>
</div>
