<footer class="footer bg-cover mx-8 p-8">
  <div class="overlay opacity-80 footer-shadow">
    <div class="container mx-auto py-8 px-16">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- About Us Column -->
        <div class="text-white">
          <h3 class="text-xl font-bold title">About Us</h3>
          <div class="  mt-4">
            <img src="../../../assets/images/logos/logo.png" alt="Logo" class="w-32 h-32 mr-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>

        <div class=" usefull text-center">
          <h6 class="text-uppercase text-xl font-bold title">Quick Links</h6>
          <ul class="menuitems">
            <li class="menuitem">
              <a routerLinkActive="active" [routerLink]="['home']">Home</a>
            </li>
            <li class="menuitem">
              <a routerLinkActive="active" [routerLink]="['aboutus']">Services</a>
            </li>
            <li class="menuitem">
              <a routerLinkActive="active" [routerLink]="['aboutus']">About us</a>
            </li>
            <li class="menuitem">
              <a routerLinkActive="active" [routerLink]="['contactus']">
                Contact us</a>
            </li>
          </ul>
        </div>

        <!-- Social Media and Contact Us Column -->
        <div class="text-white text-center">
          <div class="flex items-center mt-4">
            <div class="social-links-container">
              <h6 class="text-uppercase title">Social Links</h6>
              <ul class="list-inline social-links  items-center    ">
                <li class="list-inline-item py-1">
                  <button class="button">
                    <span class="icon" aria-hidden="true">
                      <img src="../../../assets/icons/social/icons8-facebook.svg">
                    </span>
                    <span class="button-text"><a href="https://www.facebook.com/">Facebook</a></span>
                  </button>
                </li>
                <li class="list-inline-item py-1">
                  <button class="button">
                    <div class="icon" aria-hidden="true">
                      <img src="../../../assets/icons/social/icons8-linkedin.svg">
                    </div>
                    <p>
                      <span class="button-text"> <a href="https://www.linkedin.com/in/mickiaszerfu">Linkedin</a>
                      </span>
                    </p>
                  </button>
                </li>
                <li class="list-inline-item py-1">
                  <button class="button">
                    <div class="icon">
                      <img src="../../../assets/icons/social/icons8-youtube.svg">
                    </div>
                    <p><span class="button-text"> <a href="https://www.youtube.com/">YouTube</a></span>
                    </p>
                  </button>
                </li>
              </ul>
            </div>
            <!-- Add more social media icons as needed -->
          </div>
          <h3 class="text-xl font-bold mt-8">  <a routerLinkActive="active" [routerLink]="['contactus']">Contact Us</a></h3>
          <!-- <form action="mailto:info@eeee.com" method="post" enctype="text/plain"
          class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-lg">
          <div class="mb-4">
            <label for="name" class="block text-gray-700 font-semibold mb-2">Name:</label>
            <input type="text" id="name" name="name" required
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500">
          </div>

          <div class="mb-4">
            <label for="message" class="block text-gray-700 font-semibold mb-2">Message:</label>
            <textarea id="message" name="message" required
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"></textarea>
          </div>

          <div class="text-center">
            <input type="submit" value="Submit"
              class="bg-indigo-500 text-white py-2 px-4 rounded-lg hover:bg-indigo-600 cursor-pointer">
          </div>
        </form> -->
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-800 py-4">
    <div class="container mx-auto text-center text-white">
      <p>&copy; 2023 The Constantine Foundation. All rights reserved.</p>
      <p>Developed by <span class="font-bold">Mikiyas Zerfu</span></p>
    </div>
  </div>
</footer>
