<main>
  <app-banner [backgroundImage]="'../../../../assets/images/Bg/forpages/health.jpg'">
    <div class="container py-8">
      <div class="hero-content py-24 px-4">
        <h2 class="text-6xl font-bold ">The Constantine Foundation</h2>
        <h3 class="text-2xl font-semibold  mt-4">Organisations committed to ending poverty worldwide.</h3>
      </div>
    </div>
  </app-banner>
  <section class="body-wrapper w-full align-center text-center px-16">
    <section class="gap">
      <div class="container">
        <div class="flex items-center justify-center bg-gray-100 py-10">
          <div class="max-w-4xl mx-auto">
            <div class="text-center">
              <img alt="icon" src="../../../../assets/images/logos/logo.png" class="mx-auto mb-3 w-32 h-32">
              <p class="text-gray-600">working on charity</p>
              <h2 class="text-3xl font-bold">We Help Children Stay Safe, Healthy and Learning.</h2>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-1/2">
            <div class="about-text bg-white rounded-lg shadow-lg p-6 h-full">
              <p class="leading-relaxed">
                Duis sed odio sit amet nibh vulputate cursus a amet ma accumsan ipsuy veli Nam nec tellus per coec
                tellus. curs a amet mauli accumsan ipsuy veli Nam nec tell cumsan suy veli Nam per coec tellusnec perus.
                <br><br>
                a odio tincidunt auct ursus a amet mauris Mor ipsuy veli Nam nec tell cumsan ipsuy veli Nam nec perus.
              </p>
              <div class="w-full text-left align-left mt-auto">
                <h3 class="pt-5 text-2xl font-bold">Barlim Qoarli</h3>
                <span class="text-gray-600">charitable trust director</span>
                <img class="pt-3 rounded-full w-16 h-16" alt="signature" src="https://via.placeholder.com/600/FF2921">
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2 lg:pl-8">
            <div class="poor-boy-data bg-white rounded-lg shadow-lg p-6 h-full">
              <h2 class="text-4xl font-bold">60 MILLION</h2>
              <h6 class="text-gray-600">BY 2021, WE'RE AIMING FOR 60 MILLION MORE PEOPLE WORLDWIDE TO HAVE ACCESS TO
                CLEAN DRINKING WATER</h6>

              <div class="poor-boy-data bg-white p-12">
                <h2 class="text-4xl font-bold">6/10</h2>
                <h6 class="text-gray-600">6 IN 10 PEOPLE WORLDWIDE, OR 4.5 BILLION, LACK SAFELY MANAGED SANITATION</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 lg:w-1/2">
            <div class="about-img hoverimg overflow-hidden bg-white  p-16">
              <figure>
                <img alt="img" src="../../../../assets/images/Bg/footer.png"
                  class="w-full h-full object-cover transition duration-300 transform hover:scale-105"
                  style="border-radius:44px">
              </figure>
            </div>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/2">
            <div class="about-img hoverimg overflow-hidden bg-white  p-16">
              <figure>
                <img alt="img" src="../../../../assets/images/Bg/footer.png"
                  class="w-full h-full object-cover transition duration-300 transform hover:scale-105"
                  style="border-radius:44px">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fundraising gap no-bottom bg-cover bg-center"
      style="background-image: url('../../../../assets/images/Bg/AGRICULTURE.png')">
      <div class="container py-16">
        <div class="max-w-4xl mx-auto">
          <div class="text-center">
            <img alt="icon" src="../../../../assets/images/logos/logo.png" class="mx-auto mb-3 w-32 h-32">
            <p class="text-white">Fundraising and Events</p>
            <h2 class="text-3xl font-bold text-white">Start a Fundraiser</h2>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
          <div class="flex items-center justify-center p-6 bg-blue-500 rounded-lg shadow-lg">
            <div class="flex items-center justify-center w-12 h-12 bg-white text-blue-500 rounded-full">
              <span class="text-lg font-bold">1</span>
            </div>
            <div class="ml-4">
              <h3 class="text-xl font-bold text-white hover:text-blue-200 font-ubuntu">Find a Service</h3>
              <p class="text-white text-gray-300 font-ubuntu">Duis sed odio sit amet nibh vulputate ris. Morbi accumsan ipsuy veli Nam nt auctor Class aptent.</p>
            </div>
          </div>
          <div class="flex items-center justify-center p-6 bg-blue-500 rounded-lg shadow-lg">
            <div class="flex items-center justify-center w-12 h-12 bg-white text-blue-500 rounded-full">
              <span class="text-lg font-bold">2</span>
            </div>
            <div class="ml-4">
              <h3 class="text-xl font-bold text-white hover:text-blue-200 font-ubuntu">Support Volunteers</h3>
              <p class="text-white text-gray-300 font-ubuntu">Duis sed odio sit amet nibh vulputate ris. Morbi accumsan ipsuy veli Nam nt auctor Class aptent.</p>
            </div>
          </div>
          <div class="flex items-center justify-center p-6 bg-blue-500 rounded-lg shadow-lg">
            <div class="flex items-center justify-center w-12 h-12 bg-white text-blue-500 rounded-full">
              <span class="text-lg font-bold">3</span>
            </div>
            <div class="ml-4">
              <h3 class="text-xl font-bold text-white hover:text-blue-200 font-ubuntu">Help For Heroes</h3>
              <p class="text-white text-gray-300 font-ubuntu">Duis sed odio sit amet nibh vulputate ris. Morbi accumsan ipsuy veli Nam nt auctor Class aptent.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>

      <app-partner-container></app-partner-container>
    </section>
  </section>
</main>
