/* @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bizantheum';
  src: url('./assets/fonts/Bizantheum.otf') format('opentype');
}
@font-face {
  font-family: 'Amellyta';
  src: url('./assets/fonts/Amellyta.otf') format('opentype');
}
/* :root {
  --primary: #ab2b4c;
  --secondary: #ffa800;
  --accent: #21c278;
} */
:root {
  --primary: #72a450;
  --primary-300: #a5c257;
  --primary-100: #faffe0;
  --primary-900: #184738;
  --primary-700: #2a573f;
  --primary-600: #507548;
  --secondary: #bdc4d3;
  --accent: #774c36;
  --primary-plus: #efe6dd;
}
:root {
  --title-font: 'Bizantheum', sans-serif;
  --sub-title-font: 'Bizantheum', sans-serif;
  --p-font: 'Arial', sans-serif;
}
.title {
  font-family: "Bizantheum", sans-serif;
  font-size: 3em;
  line-height: 1.5;
  font-weight: 900;
  color: var(--primary);
}
.sub-title {
  font-family: "Bizantheum", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  line-height: 1.5;
  color: var(--primary);
}
.h4-paragraph{
  font-family: var(--p-font);
  font-weight: 600;
  font-size: 1.0em;
  line-height: 1.5;
  color: var(--primary-900);

}
